@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

body {
  margin: 0;
  background-color: #dade66;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
