.user-profile {
}

.user-profile h2 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile .profile-pics {
  width: 90%;
}

.form .form-group .form-control {
  border-radius: 0.5rem;
}

.form .button-container {
  display: flex;
  justify-content: flex-end;
}

.form .button-container button {
  background-color: #dd4f2f;
  border: solid 1px #dd4f2f;
}
